@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,400;1,600;1,700&display=swap');
/* heading section */
.bg-img1{
  background-image: url("../assets/backgrounds/h_img.jpeg");
  min-width: 500px;
  min-height: 500px;
  
  /* Center and scale the image nicely */
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;  
}
.text1{
  text-align: center;
  color: white;
  padding-top: 20%;
  margin-bottom: 5%;
}
.text1 h1{
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 1px black;
}
.text1 p{
  font-size: 20px;
  text-shadow: 1px 1px black;
  font-family: 'Reggae One';
}
/*End of heading section */
/* About us Section */
.text2{
 text-align: center;
 font-size: 20px;
 font-family: 'Poppins', sans-serif;
}
.text3 h2{ 
text-align: center;
color: white;
font-size: 25px;
 margin-bottom: 2%;
 padding-top: 10%;
 font-family: 'Berkshire', cursive;

} 
.text3 p{
color: white;
font-size: 22px;
text-align: center;
font-family:  sans-serif;
}
.text2{
  text-align: center;
  font-size: 20px;
}
.text2 h2{
  font-family: 'Berkshire', cursive;
  text-shadow: 1px black;
}
.text2 p{
  font-family: 'Crimson Text', serif;
  font-size: 25px;
  top: 5px;
  padding: 2px;
  text-shadow: 1px black;
}
/*End of about us section */
/*Service section*/
.bg-img2{
  background-image: url("../assets/backgrounds/s_image.jpeg");
  min-width: 1000px;
  min-height: 400px;

  /* Center the service image very nicely */
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.text3 h2 {
   text-align: center;
   font-family: 'Berkshire', cursive;
   text-shadow: 1px 1px black;
}
.text3 p{
  text-align: center;
  padding: 2px;
  font-size: 22px;
  font-family: 'Reggae One';
  text-shadow: 1px 1px black;
}
/*End of service section*/
/*What we do section*/
.hide {
  display: none;
}
 
.text4 h2{
  text-align: center;
}
.show{
  font-family: 'Reggae One';
  font-size: 18px;
  padding: 2px;
  text-align: center;
  justify-content: center;
}
/*End of what we do section*/
/*Portfolio section*/
.container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 250px 300px;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
.card:hover img  {
  transform: scale(1.2);
  transition: all 0.25s ease;
}
.wrapper img{
  width: 300px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: 0, 0;
  background-size: cover;
}
.wrapper h5{
  position: absolute;
  color: #fff;
  top: 33%;
  width: 100%;
  text-align: center;
}
 
/*End of portfolio section*/
/* CONTACT SECTION */

.bg-img3{
  background-image: url("../assets/backgrounds/c_image.jpeg");
  min-width: 1000px;
  min-height: 600px;

/* Center the contact us image very nicely */
background-position: cover;
background-repeat: no-repeat;
background-size: cover;

}

.form-contact input  {
  width: 47%;
  background: transparent;
  margin: 30px 5px;
  color: #fff;
  text-shadow: 1px 1px black;
  font-size: 20px;
  font-family: 'Reggae One';
}

.form-contact textarea  {
  margin-top: 20px;
  width: 100%;
  background: transparent;
   color: #fff;
   text-shadow: 1px 1px black;
  font-size: 20px;
  font-family: 'Reggae One';
}

.form-contact {
  text-align: center;
  position: relative;
  width: 900px;
  max-width: 100%;
  left: 55%;
  transform: translate(-50%);
  padding-bottom: 30px;
}
.text-area{
  resize: none;
}
::placeholder {
  font-size: 15px;
  padding-left: 5px;
  color: #fff;
}

.form-contact h2 {
  padding-bottom: 60px;
  font-weight: bold;
  color: #fff;
  font-family: 'Berkshire swap';
  font-size: 30px;
}
 .button{
   border: none;
 }
.button:hover{
     background-color:rgba(165, 42, 42, 0.863);
     color: white;
     border-radius: 5px 20px 5px;
     width: 15%;     
}
.indicates-required{
  color:white;
  text-align: right;
}
/*Social icons section*/
.social ul{
  position: absolute;
  left: 50%;
  padding: 0;
  margin: 3%;
  transform: translate(-50% ,-50%);
  display: flex;
  padding-right: 6%;
  padding-left: 6%;
}
.social ul li{
 list-style: none;
 margin: 0,15px;
 font-size: 30px;
 line-height: 60px;
 transition: .6s;
 color: #000;
}
.social ul li:hover{
color: #fff;
}
.social ul li a{
 position: relative;
 display: block;
 width: 60px;
 height: 60px;
 border-radius: 50%;
 text-align: center;
 transition: .6s;
}
.social ul li a:hover{
 transform: translate(0,10px);
}
/*End of social icons*/
/*footer section*/

.footer{
text-align: center;
margin: 6%;
padding-left: 15%;
padding-right: 5%;
}
.ending{
color:brown;
font-family: fantasy;
font-size: 20px;
}
/*end of footer section*/
/*Media queries*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container-fluid{
     min-width: 768px;
     max-width: 1024px;
  }
  .bg-img3{
    min-width: 768px;
    max-width: 1024px;
  }
   .bg-img2{
     min-width: 768px;
     max-width: 1024px;
     text-align: center;
   }
   .description{
     min-width: 768px;
     max-width: 1024px;
   }
   h5{
     padding-right: 2rem;
    text-align: center;
    justify-content: center;
  }
  .show{
    text-align: center;
    font-size: 17px;
  }
  #img-fluid{
    margin-left: -4rem;
  }
  #development{
    margin-left: -5rem;
  }
   #product{
     margin-left: -5rem;
   }
   .container{
    min-width: 768px;
    max-width: 1024px;
   }
   .container-fluid{
    min-width: 768px;
    max-width: 1024px;
   }
   .img{
     min-width: 768px;
     max-width: 1024px;
   }
    
 
}
 
/*End of media queries*/